# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.env

# Raw and generated data files
data/external/*
data/raw/*
data/staged/*
data/curated/*
data/features/*
data/warehouse/*

# Allow DVC metadata files inside data folders
!data/
!data/external/
!data/raw/
!data/staged/
!data/curated/
!data/features/
!data/warehouse/
!data/external/*.dvc
!data/raw/*.dvc
!data/staged/*.dvc
!data/curated/*.dvc
!data/features/*.dvc
!data/warehouse/*.dvc
!data/**/.gitignore

# Model artifacts
models/*

# Allow DVC metadata files for model artifacts
!models/
!models/*.dvc
!models/**/.gitignore

# MLflow and generated heavy artifacts
mlruns/
artifacts/

# OS / IDE
.DS_Store
.vscode/
