# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.env

# Raw and generated data files
data/raw/*
data/staged/*
data/curated/*
data/features/*
data/warehouse/*

# Allow DVC metadata files inside data folders
!data/
!data/raw/
!data/staged/
!data/curated/
!data/features/
!data/warehouse/
!data/raw/*.dvc
!data/staged/*.dvc
!data/curated/*.dvc
!data/features/*.dvc
!data/warehouse/*.dvc
!data/**/.gitignore

# Logs and generated heavy artifacts
mlruns/
models/
artifacts/

# OS / IDE
.DS_Store
.vscode/
